*, *:before, *:after {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    /* font-family: 'Roboto', sans-serif; */
}

body {
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

.image-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.image-list li {
    /* flex: 1 0 274px; */
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 274px;
    max-width: 320px;
    position: relative;
    width: 100%;
    padding: .5em;
}

.image-list li img {
    width: 100%;
}

@media screen and (min-width: 320px) {
    .image-list li {
        flex-basis: 100%;
        max-width: 100%;
}

@media screen and (min-width: 640px) {
    .image-list li {
        flex-basis: 50%;
        max-width: 50%;
}

@media screen and (min-width: 960px) {
    .image-list li {
        flex-basis: 33.33333%;
        max-width: 33.33333%;
    }
}